html{
    font-family: "Roboto", sans-serif;
}

body{
  border: 3px solid rgb(172, 172, 172);
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    top: 0;
  }

  header .head{
      display: flex;
      align-items: center;
  }

  header .logo {
    flex: 1;
    height: 32px;
    font-size: 34px;
  }

  header .logo1{
      padding-left: 24px;
      padding-right: 10px;
      min-width: 50px;
  }
  
  header nav ul {
    display: flex;
    list-style-type: none;
  }

  nav li {
    padding: 16px;
    font-size: 20px;
  }

  .aca{
      color: gray;
  }

  nav li:last-child {
    padding-right: 40px;
  }
  header .mobile {
    display: none;
  }

  @media only screen and (max-width: 760px) {
    header .desktop {
        display: none;
      }

      header .logo1{
        display: none;
    }
    
      header .mobile {
        display: block;
        width: 100%;
        height: 64px;
      }
    
      header .head {
        padding: 10px 0;
      }
    
      header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-left: 10px;
        margin-top: 2px;
      }
    
      header .mobile li {
        padding-left: 0;
      }  
  }

  .maincontent{
      top:64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgb(197, 194, 194);
  }

  .banner{
    background-color: rgb(197, 194, 194);
    height: 980px;
    margin-top: 30px;
    
  }

  .banner img{
    top: 64px;
    position: relative;
    align-content: center;
    background-size: cover;
    padding: 32px 24px;
  }

  .learn{
    top: 64px;
    color: rgb(67, 68, 70);
    font-weight: bolder;
    font-size: 24px;
  }

  .start{
    border: 1px solid gray;
    background-color: rgb(53, 50, 50);
    color: white;
    padding: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
  }

@media only screen and (max-width: 900px) {
  .maincontent{
      top:64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(197, 194, 194);    
  }

  .banner{
    height: 800px;
    box-sizing: border-box;
    margin-bottom: 100px;
    max-height: 400 !important;
  }
  
  
  .banner img{
    padding: 0px;
    margin-top: -16px !important;
    margin: 0px;
    max-width: 100%;  
     
  }

  .learn{
    margin-top: -450px;
    padding: 32px;
    font-size: 19px;text-align: center;
    background-repeat: no-repeat;  
    align-content: center;
  }

  .start{
    border: 1px solid gray;
    background-color: rgb(53, 50, 50);
    color: white;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    align-content: center;
  }
}

.info{
  display: flex;
}

.box1{
  max-width: 1100px;
  padding: 32px 24px;
  border-right: 2px solid rgb(177, 171, 171);
}

.box1 h2{
  padding: 32px auto;
  color: rgb(86, 88, 90);
}

.otherboxes{
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: auto;
  
  border-right: 100%;
}

.box2{
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  border-bottom: 1px solid rgb(177, 171, 171);

}

.box2 .img{
  max-width: 35%;
  height: auto;
}

.box2 .txt{
  text-align: left;
  padding: 40px;
  color: rgb(86, 88, 90);
  font-size: 21px;
  line-height: 1.5;
  height: 194px;
  
}

.box3{
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  height: auto;
}

.box3 img{
  height: auto;
}

.box3 .txt{
  height: 194px;
  max-width: auto;
  text-align: left;
  padding: 40px;
  color: rgb(86, 88, 90);
  font-size: 21px;
}



  

  
